<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.selfyclubb">
    <uses-sdk tools:overrideLibrary="pl.droidsonroids.gif" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name="com.selfyclubb.MMSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArogaClinic"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.selfyclubb.UI.Spokeuser_signinActivity"
            android:exported="false" />
        <activity
            android:name="com.selfyclubb.UI.Hubuser_signinActivity"
            android:exported="false" />
        <activity
            android:name="com.selfyclubb.UI.homescreenActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- <meta-data -->
        <!-- android:name="com.onesignal.NotificationOpened.DEFAULT" -->
        <!-- android:value="DISABLE" /> -->
        <activity android:name="com.selfyclubb.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.selfyclubb.FingerprintActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ArogaClinic" />
        <activity
            android:name="com.selfyclubb.HomeActivity"
            android:theme="@style/Theme.ArogaClinic" />
<!--        <activity-->
<!--            android:name="com.selfyclubb.TutorialActivity"-->
<!--            android:theme="@style/AppTheme" />-->
        <activity
            android:name=".ChromeTabs"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
            <!-- <data android:scheme="app" android:host="callback"/> -->
            <!-- </intent-filter> -->


            <!-- Single Image/Video Share -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <!-- Multiple Images/Videos Share -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>